img.thumb-img
{
	position: relative;
	float: left;
	clear: left;
	margin-top: 10px;
	padding: 2px;
	border: 1px solid #ccc;
	margin-left: 3px;

}
div.wrap-content
{
	position: relative;
	border-radius: 3px;
	margin-bottom: 10px;
	background: white;
	box-shadow: 0 0 3px #ccc;
}

div.date
{
	font-size: 10px;
	margin-left : 10px;
	position: relative;
	top: 21px;

}
.content{
	margin-left : 95px;
}
div.publisher
{
	font-weight: 900;
	font-size: 12px;
	float: left;
	margin-top: 20px;
	margin-left: 5px;
}
a.storyLink
{
	font-size: 12px;
	color: blue;
	top: 15px;
	position: relative;
}
p.content
{
	margin-bottom: 0px;
}
h3.content
{
	margin-top: 32px;
	color : #555;
	letter-spacing:-1px
}